[Unit]
Description=Sundtek XMLTV Grabber
After=sundtek.service

[Service]
Type=simple
User=user # EDIT THIS
ExecStart=/opt/sundtek-to-xmltv/run-grabber.sh # EDIT THIS
Restart=on-failure

[Install]
WantedBy=multi-user.target
