[Unit]
Description=Sundtek XMLTV Grabber
After=sundtek.service

[Service]
Type=simple
# EDIT THIS
User=user
# EDIT THIS
ExecStart=/opt/sundtek-to-xmltv/run-grabber.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
